<div class="account-container register stacked">

  <div class="content clearfix">

    <form action="./index.html" method="post">
      <%= form_for(@user)  do |f| %>

      <h1>Hesap Oluştur</h1>      

      <div class="login-social">
        <p>Sosyal ağ kullanarak kayıt olun</p>

        <div class="twitter">
          <a href="#" class="btn_1">Twitter ile kayıt </a>        
        </div>

        <div class="fb">
          <a href="#" class="btn_2">Facebook ile kayıt </a>       
        </div>
      </div>

      <div class="login-fields">

        <p>Hesabınızı Oluşturun: </p>

        <div class="field">
          <%= f.text_field :name, :placeholder => 'İsim', class: "form-control" %>
        </div> <!-- /field -->

        <div class="field">
          <%= f.text_field :last_name, :placeholder => 'Soy İsim', class: "form-control" %>
        </div> <!-- /field -->


        <div class="field">
          <%= f.text_field :email, :placeholder => 'Mail Adresi', class: "form-control" %>
        </div> <!-- /field -->

        <div class="field">
          <%= f.password_field :password, :placeholder =>  'Şifre', class: "form-control" %>
        </div> <!-- /field -->

        <div class="field">
          <%= f.password_field :password_confirmation, :placeholder =>  'Şifre Tekrar', class: "form-control" %>
        </div> <!-- /field -->

      </div> <!-- /login-fields -->

      <div class="login-actions">

        <span class="login-checkbox">
        </span>

        <%= f.submit 'Beni Kaydet!' , class:"login-action btn btn-primary" %>

      </div> <!-- .actions -->

    <%end%> 

  </div> <!-- /content -->

</div> <!-- /account-container -->


<!-- Text Under Box -->
<div class="login-extra">
  Hesabın varmı? O halde <a href="./login.html">Giriş Yap!</a>
</div> <!-- /login-extra -->

