<nav class="navbar navbar-inverse" role="navigation">

<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <i class="icon-cog"></i>
    </button>
    <a class="navbar-brand" href="./index.html">Translatr</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">

        <% if user_has_accepted_team? %>
          <li class="dropdown">

            <a href="javscript:;" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-group"></i>
              Üye Olduğum Gruplar
              <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
              <% current_user.teams.each do |team| %>
                <li><%= link_to team.name, team_texts_path(team)  %></li>
              <%end%>
            </ul>

          </li>
        <%end %>

        <li class="dropdown">

          <a href="javscript:;" class="dropdown-toggle" data-toggle="dropdown">
            <% if user_has_requests? %>
              <span class="badge badge-warning"><%= request_size %> </span>
            <% end %>
            <i class="icon-user"></i> 
            <%= current_user.email %>
            <b class="caret"></b>
          </a>

          <ul class="dropdown-menu">
            <% if user_has_requests? %> 
              <li><%= link_to user_teams_path do %>
                <li><span class="badge badge-warning"><%= request_size %></span> Katılım İsteği</li>
              <%end%></li>
            <%end%>
            <li><%= link_to 'Grup Oluştur', new_team_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Çıkış Yap', signout_path, method: 'delete' %></li>
          </ul>

        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div> <!-- /.container -->
  </nav>
