<% if current_page?(team_texts_path(@team)) %>
  <li class="active">
    <%= link_to team_texts_path(@team) do %>
      <span class="badge pull-right"><%= @texts.size %></span>
      Tüm Çeviriler
    <%end%>
  </li>
<%else%>
  <li>
    <%= link_to team_texts_path(@team) do %>
      <span class="badge pull-right"><%= @texts.size %></span>
      Tüm Çeviriler
    <%end%>
  </li>
<%end%>

<% if current_page?(personal_team_texts_path(@team)) %>
  <% if allow? :texts, :personal %>
    <li class = 'active'>
      <%= link_to personal_team_texts_path(@team) do %>
        <span class="badge pull-right"><%= @personal_texts.size %></span>
        Benim Çevirilerim
      <%end%>
    </li>
  <%end%>
<%else%>
  <% if allow? :texts, :personal %>
    <li>  
      <%= link_to personal_team_texts_path(@team) do %>
        <span class="badge pull-right"><%= @personal_texts.size %></span>
        Benim Çevirilerim
      <%end%>
    </li>
  <%end%>
<%end%>

<% if current_page?(team_translations_path(@team)) %>
  <% if allow? :translations, :index %>
    <li class = 'active'>
      <%= link_to team_translations_path(@team) do %>
        <span class="badge pull-right"><%= @untranslated.size %></span>
        Çevrilmemiş Metinler
      <%end%>
    </li>
  <%end%>
<%else%>
  <% if allow? :translations, :index %>
    <li>  
      <%= link_to team_translations_path(@team) do %>
        <span class="badge pull-right"><%= @untranslated.size %></span>
        Çevrilmemiş Metinler
      <%end%>
    </li>
  <%end%>
<%end%>

<% if current_page?(new_team_text_path(@team)) %>
  <% if allow? :texts, :new%>
    <li class = 'active' ><%= link_to 'Yeni Çeviri', new_team_text_path(@team) %> </li>
  <%end%>
<%else%>
  <% if allow? :texts, :new%>
    <li><%= link_to 'Yeni Çeviri', new_team_text_path(@team) %></li>
  <%end%>
<%end%>

<% if current_page?(team_path(@team)) %>
    <% if allow? :teams, :show, @team %>
      <li class = 'active'><%= link_to 'Grubu Yönet', team_path(@team) %></li>
    <%end%>
<% else %>
    <% if allow? :teams, :show, @team %>
      <li><%= link_to 'Grubu Yönet', team_path(@team) %></li>
    <%end%>
<%end%>

<% if current_page?(edit_user_team_path(@relationship)) %>
    <% if allow? :user_teams, :edit, @relationship %>
      <li class = 'active' ><%= link_to 'Gruptan Çık', edit_user_team_path(@relationship) %></li>
    <%end%>
<% else %>
    <% if allow? :user_teams, :edit, @relationship %>
      <li><%= link_to 'Gruptan Çık', edit_user_team_path(@relationship) %></li>
    <%end%>
<%end%>
