<div class = "row" >
  <div class="col-md-6">
    <div class="widget stacked">
      <div class="widget-header middle">
        <i class="icon-file"></i>
        <h3><%= @text.title %></h3>
      </div> <!-- /widget-header -->
      <div class="widget-content middle">
        <%= @text.text %>
      </div> <!-- /widget-content -->
    </div> <!-- /widget -->
  </div> <!-- /span6 -->
  <div class="col-md-6">
    <div class="widget stacked">
      <div class="widget-header middle">
        <i class="icon-file"></i>
        <h3>Editle</h3>
      </div> <!-- /widget-header -->
      <div class="widget-content middle">
        <%= form_for :text, url: text_path(@text.id),  method: :patch do |f| %>
          <div class = "form-group">
            <%= f.text_area :text, :placeholder => 'Yeni yazıyı buraya girin', class: 'form-control', rows: 6 %>
          </div>
          <div class = "form-group">
            <%= f.submit 'Tamamdır', class: 'btn btn-primary' %>
          </div>
        <%end%>
      </div> <!-- /widget-content -->
    </div> <!-- /widget -->
  </div> <!-- /span6 -->
</div>
