<div class = "row">
  <div class="col-md-3 middle">
    <div class="btn-group btn-group-justified">
      <% if allow? :texts, :destroy, @text %>
      <%= link_to "Yazıyı Sil", text_path(@text), method: 'delete' %>
    <%end%>
      <% if allow? :texts, :edit, @text %>
      <%= link_to "Yazıyı Editle", edit_text_path(@text)%>
    <%end%>
     </div>
  </div>
</div>
<div class = "row" >
  <div class="col-md-6">
    <div class="widget stacked">
      <div class="widget-header middle">
        <i class="icon-file"></i>
        <h3><%= @text.title %></h3>
      </div> <!-- /widget-header -->
      <div class="widget-content middle">
        <%= @text.text %>
      </div> <!-- /widget-content -->
    </div> <!-- /widget -->
  </div> <!-- /span6 -->

  <% if @text.translation %>
    <div class="col-md-6">
      <div class="widget stacked">
        <div class="widget-header middle">
          <i class="icon-file"></i>
          <h3>Çeviri</h3>
        </div> <!-- /widget-header -->
        <div class="widget-content middle">
          <%= @text.translation.translation_text %>
        </div> <!-- /widget-content -->
      </div> <!-- /widget -->
    </div> <!-- /span6 -->
  <%end%>

  <% if current_user.translator && !@text.translation %>
    <div class="col-md-6">
      <div class="widget stacked">
        <div class="widget-header middle">
          <i class="icon-file"></i>
          <h3>Çeviri</h3>
        </div> <!-- /widget-header -->
        <div class="widget-content middle">
          <%= form_for [@team, @translation] do |f| %>
            <div class = "form-group">
              <%= f.text_area :translation_text, :placeholder => 'Çeviri Metninini Buraya Giriniz', class: 'form-control', rows: 6 %>
            </div>
            <%= f.hidden_field :text_id, :value => params[:id] %>
            <div class = "form-group">
              <%= f.submit 'Çevir', class: 'btn btn-primary' %>
            </div>
          <%end%>

        </div> <!-- /widget-content -->
      </div> <!-- /widget -->
    </div> <!-- /span6 -->
  <%end%> 
</div>
